<div class="container">
  <div class="main-converter">

    <div class="kurs-valut">
      <div class="kurs-text">
        <p class="text-1">Актуальний курс валют</p>
      </div>
      <div class="kurs" *ngIf="exchangeRates && exchangeRates.length > 1">
        <p class="evro">Курс євро в гривнях: {{ exchangeRates[0].rateSell }}</p>
        <p class="dolar">Курс долара в гривнях: {{ exchangeRates[1].rateSell }}</p>
      </div>
    </div><!--курс валют-->

    <div class="converter">
      <div class="konvert-text">
        <p class="text-2">Конвертер валют</p>
      </div>
      <div class="konverts">

        <div class="konvert">
          <div class="buttons">
            <div class="input-group">
              <label class="label">Сума в гривнях</label>
              <input autocomplete="off" name="UAH" class="input" type="number" [(ngModel)]="amountUah">
            </div>
            <button (click)="convertToEuro()" class="button">
              В євро 
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
            <button (click)="convertToDollar()" class="button">
              В долари 
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
          </div>
          <div class="result" *ngIf="convertedAmountUah">
            <p>Результат: {{ convertedAmountUah | number:'1.2-2' }} {{ targetCurrencyUah }}</p>
          </div>
        </div>

        <div class="konvert">
          <div class="buttons">
            <div class="input-group">
              <label class="label">Сума в доларах</label>
              <input autocomplete="off" name="USD" class="input" type="number" [(ngModel)]="amountUsd">
            </div>
            <button (click)="convertToUahFromDollar()" class="button">
              В гривні
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
            <button (click)="convertToEuroFromDollar()" class="button">
              В євро
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
          </div>
          <div class="result" *ngIf="convertedAmountUsd">
            <p>Результат: {{ convertedAmountUsd | number:'1.2-2' }} {{ targetCurrencyUsd }}</p>
          </div>
        </div>

        <div class="konvert">
          <div class="buttons">
            <div class="input-group">
              <label class="label">Сума в євро</label>
              <input autocomplete="off" name="EUR" class="input" type="number" [(ngModel)]="amountEuro">
            </div>
            <button (click)="convertToUahFromEuro()" class="button">
              В гривні
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
            <button (click)="convertToDollarFromEuro()" class="button">
              В долари
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button>
          </div>
          <div class="result" *ngIf="convertedAmountEuro">
            <p>Результат: {{ convertedAmountEuro | number:'1.2-2' }} {{ targetCurrencyEuro }}</p>
          </div>
        </div>

      </div><!--самі конвертери-->
    </div><!--головний дів конвертер-->

  </div><!--головний дів-->
</div><!--контейнер-->
